@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    display: inline-block; /* Preflight override */
  }

  html {
    background-color: var(--colorBg);
    color: var(--colorFg);
  }

  a:link {
    color: var(--colorLink);
  }
  a:visited {
    color: var(--colorLinkVisited, var(--colorLink));
  }

  main {
    a {
      text-decoration: underline;
    }

    :is(p, h1, h2, h3, h4, h5, h6, ul, ol) {
      line-height: 1.5;
      &:not(:first-child) {
        margin-block-start: max(1.5rem, 1.5em);
      }
      &:not(:last-child) {
        margin-block-end: 1.5rem;
      }
    }

    :is(ul, ol) {
      margin-inline-start: 1.5em;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      font-weight: bold;
    }

    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-3xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
    h5 {
      @apply text-lg;
    }
  }
}
